{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "db_username",
  "password": "pass",
  "database": "database_name",
  "entities": [
    "src/app/models/*.ts"
  ],
  "migrations": [
    "src/database/migrations/*.ts"
  ],
  "cli": {
    "migrationsDir": "src/database/migrations"
  }
}